<div data-controller="images">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- タイトル -->
    <div class="my-3">
      <%= form.label :title, for: "postTitleInput", class: "form-label fw-bold" %>
      <%= form.text_field :title, class: "form-control", id: "postTitleInput" %>
    </div>

    <!-- アイキャッチ画像 -->
    <div class="my-3">
      <%= form.label :thumbnail, "アイキャッチ画像", class: "form-label fw-bold" %>
      <div type="button" class="image-box d-flex justify-content-center mx-1 mb-3 modal-btn" data-images-target="preview_thumbnail" data-action="click->images#openModal" data-modal-type="thumbnail">
        <% if ActiveStorage::Blob.find_by(id: @post.thumbnail) %>
          <%= image_tag ActiveStorage::Blob.find(@post.thumbnail) %>
        <% else %>
          <p class="thumbnail-no-image"><i class="fa-regular fa-image"></i> No Image</p>
        <% end %>
      </div>
    </div>

    <!-- 本文 -->
    <div class="my-3">
      <%= form.label :content, for: "postContentInput", class: "fw-bold" %>
      <br>
      <!-- Button trigger modal -->
      <button type="button" class="my-2 btn btn-secondary modal-btn" data-action="click->images#openModal" data-modal-type="content">
        <i class="fa-regular fa-image"></i> メディアを追加
      </button>
      <%= form.text_area :content, class: "tinymce form-control", rows: 28, id: "postContentInput" %>
    </div>

    <div class="my-3 d-flex justify-content-between">
      <%= form.submit "投稿する", class: "btn btn-primary" %>
      <% if !post.new_record? %>
        <%= link_to "削除する", post, class: "d-inline-block text-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  <% end %>

  <!-- メディア追加用のモーダル -->
  <div class="modal fade" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="fileUploadModalLabel">メディアの選択またはアップロード</h1>
          <button type="button" class="btn-close" data-action="click->images#resetSelectedImage" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-images-target="drop" data-action="dragover->images#dragover dragleave->images#dragleave drop->images#dropImages">
          <div class="my-3 text-center">
            <label for="filename">
              <span class="upload-image-btn">ファイルを選択</span>
              <input type="file" id="filename" accept="image/*" style="display: none" data-images-target="select" data-action="change->images#selectImages" multiple>
            </label>
          </div>
          <div class="my-3 text-center">
            <p>または</p>
            <p class="fs-5">ここにファイルをドラッグ＆ドロップ</p>
          </div>
          <p data-images-target="error" class="text-center text-danger"></p>
          <hr style="border: 1px solid #e3e1e1">
          <div class="my-2" data-images-target="preview_images">
            <% if ActiveStorage::Blob.exists? %>
              <% ActiveStorage::Blob.all.order(created_at: :desc).each do |image| %>
                <div class="image-box d-inline-flex justify-content-center mx-1 mb-3" data-action="click->images#selectedImageBox">
                  <%= image_tag(image, class: "mx-auto", id: image.id) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button class="btn btn-danger" data-action="click->images#deleteImage">削除</button>
          </div>
          <div data-images-target="modal_footer">
            <!-- ここにボタンを追加 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
