<p style="color: green"><%= notice %></p>

<main role="main">

  <div class="text-center blog-jumbotron">
    <div class="container">
      <h1>山旅ブログ</h1>
      <p class="lead text-muted">山と旅が好きな管理人の「旅系ブログ」です。僕が旅を通して得た「感動」や「魅力」などをユーモアを交えてお届けします。</p>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      <% @posts.order(created_at: :desc).each do |post| %>
        <div class="col-md-4">
          <%= link_to post, class: "card-link" do %>
            <div class="card mb-4 shadow-sm">
              <% if ActiveStorage::Blob.find_by(id: post.thumbnail) %>
                <div class="post-index-thumbnail-box">
                  <%= image_tag ActiveStorage::Blob.find_by(id: post.thumbnail), class: "card-img-top" %>
                  <% if post.categories.exists? %>
                    <div class="post-category-on-thumbnail">
                      <span><%= post.categories.first.name %></span>
                    </div>
                  <% else %>
                    <div class="none-category-on-thumbnail">
                      <span>カテゴリーなし</span>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="post-index-thumbnail-box">
                  <%= image_tag "no_image.png", class: "card-img-top" %>
                  <% if post.categories.exists? %>
                    <div class="post-category-on-thumbnail">
                      <span><%= post.categories.first.name %></span>
                    </div>
                  <% else %>
                    <div class="none-category-on-thumbnail">
                      <span>カテゴリーなし</span>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <div class="card-body">
                <h1 class="card-text d-inline-block" style="height: 90px;"><%= post.title %><%#= post.title.truncate(35) %></h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-muted">
                    <small><i class="fa-regular fa-clock"></i> <%= post.created_at.strftime('%Y/%m/%d')  %></small>
                  </div>
                  <!-- <small class="text-muted"><i class="fa-solid fa-clock-rotate-left"></i> <%= post.updated_at.strftime('%Y/%m/%d')  %></small> -->
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-end mx-2">
      <%= paginate @posts %>
    </div>
  </div>
</main>
