<div class="header-box container d-flex justify-content-between flex-wrap <%= user_signed_in? && current_user.admin? ? "header-admin" : "" %>">
  <h1 class="blog-title">
    <%= link_to root_path, title: "山が好き旅が好き" do %>
      <%= image_tag "blog-title.png", width: "350px" %>
      <title>山が好き旅が好き</title>
    <% end %>
  </h1>
  <nav class="nav-menu-box">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Category", categories_path %></li>
      <% if user_signed_in? && !current_user.admin? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete, turbo_confirm: "本当にログアウトしますか？" } %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
