<!DOCTYPE html>
<html>
  <head>
    <title>YamatabiBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://cdn.tiny.cloud/1/<%= Rails.application.credentials.dig(:tinymce, :api_key) %>/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://kit.fontawesome.com/<%= Rails.application.credentials.dig(:fontawesome, :api_key) %>.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="footer-fixed">
      <header>
        <% if user_signed_in? && current_user.admin? %>
          <%= render 'layouts/admin_navigation' %>
        <% end %>
        <%= render 'layouts/navigation' %>
      </header>
      <div class="container">
        <%= yield %>
        <% if Rails.env.development? %>
          <div class="p-3 rounded text-bg-light">
            <p class=""><%= debug(params) %></p>
            <p>セッションID => <%= session["warden.user.user.key"] %></p>
          </div>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        language: 'ja'
      });
    </script>
  </body>
</html>
