<!DOCTYPE html>
<html>
  <head>
    <title>YamatabiBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!--
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    -->
    <script src="https://cdn.tiny.cloud/1/<%= ENV['TINYMCE_API_KEY'] %>/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://kit.fontawesome.com/<%= ENV['FONTAWESOME_API_KEY'] %>.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <% if current_user.admin? %>
        <%= render 'layouts/admin_navigation' %>
      <% end %>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
      <%= yield %>
      <% if Rails.env.development? %>
        <div class="p-3 rounded text-bg-light">
          <p class=""><%= debug(params) %></p>
          <p>セッションID => <%= session["warden.user.user.key"] %></p>
        </div>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
          { value: 'First.Name', title: 'First Name' },
          { value: 'Email', title: 'Email' },
        ],
        language: 'ja'
        // ,
        // images_upload_url: "/images/upload_images",
        // images_upload_credentials: true
      });
    </script>
  </body>
</html>
