<!DOCTYPE html>
<html>
  <head>
    <% if current_page?(root_path) %>
      <title>山が好き旅が好き</title>
    <% elsif current_page?(about_path) %>
      <title>プロフィール</title>
    <% elsif current_page?(categories_path) %>
      <title>カテゴリー</title>
    <% elsif (controller_path == "categories" && action_name == "show") %>
      <title>カテゴリー：<%= @category.name %></title>
    <% elsif (controller_path == "posts" && action_name == "show") %>
      <title><%= @post.title %></title>
    <% end %>

    <meta name="description" content="山と旅が好きな管理人がお届けする、波瀾万丈な山旅ブログです。僕自身が体験したことをありのままに面白おかしく発信するよう努めるので、どうか真に受けずに肩の力を抜いてご覧ください。">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">
    <!-- Googleサーチコンソール有効化用のメタタグ -->
    <meta name="google-site-verification" content="<%= Rails.application.credentials.dig(:google, :site_verification_key) %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://cdn.tiny.cloud/1/<%= Rails.application.credentials.dig(:tinymce, :api_key) %>/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://kit.fontawesome.com/<%= Rails.application.credentials.dig(:fontawesome, :api_key) %>.js" crossorigin="anonymous"></script>
    <!-- Googleアナリティクス用タグ -->
    <% if (current_user == false || current_user.nil?) && Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5RXSL7P');</script>
      <!-- End Google Tag Manager -->
      <!--
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-1K9Y3P0D39"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1K9Y3P0D39');
      </script>
      -->
    <% end %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RXSL7P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="footer-fixed">
      <header>
        <% if user_signed_in? && current_user.admin? %>
          <%= render 'layouts/admin_navigation' %>
        <% end %>
        <%= render 'layouts/navigation' %>
      </header>
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <% if Rails.env.development? %>
        <!--
          <div class="p-3 rounded text-bg-light">
            <p class=""><%= debug(params) %></p>
            <p>セッションID => <%= session["warden.user.user.key"] %></p>
          </div>
        -->
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons  link lists searchreplace table visualblocks wordcount',
        toolbar: 'blocks fontsize | bold italic underline strikethrough forecolor emoticons removeformat | link table | numlist bullist indent outdent | align lineheight',
        // image madia fontfamily charmap
        language: 'ja',
        branding: false,
        paste_data_images: false,
        // force_p_newlines : false,
        // force_br_newlines : false,
        // forced_root_block :false,
      });
    </script>
  </body>
</html>
